@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

body {
  background-color: #0f0f0f;
  color: white;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* input {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  background: hsl(0deg 0% 100% / 8%);
} */

.icon{
  border-top-right-radius: 999px;
  border-bottom-right-radius:999px ;
}

.sidebar{
  min-height: calc(100vh - 56px);
}

.icerik{
  width:100%;
  min-height:100vh;
  margin-left:240px;

}