
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #0f0f0f;
  color: white;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", "Arial", sans-serif;
}

/* input {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  background: hsl(0deg 0% 100% / 8%);
} */

.icon {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

.sidebar {
  min-height: calc(100vh - 56px);
}

.icerik {
  width: 100%;
  min-height: 100vh;
  margin-left: 240px;
}

/* Genel kaydırma çubuğu stilleri */
::-webkit-scrollbar {
  width: 6px; /* Kaydırma çubuğu genişliği */
  height: 6px; /* Yatay kaydırma çubuğu yüksekliği */
}

/* Kaydırma çubuğu kanalı (background) */
::-webkit-scrollbar-track {
  background: #0f0f0f; /* Arka plan rengi */
}

/* Kaydırma çubuğu tutacağı (thumb) */
::-webkit-scrollbar-thumb {
  background: #202020; /* Tutacak rengi */
  border-radius: 3px; /* Yuvarlatılmış köşeler */
}

/* Kaydırma çubuğu üzerine gelince (hover) */
::-webkit-scrollbar-thumb:hover {
  background: #202020; /* Hover sırasında tutacak rengi */
}

/* Yatay kaydırma çubuğu (opsiyonel) */
::-webkit-scrollbar-horizontal {
  height: 12px; /* Yatay kaydırma çubuğu yüksekliği */
}

/* Kaydırma çubuğu köşesi (hem yatay hem dikey olan durumlar için) */
::-webkit-scrollbar-corner {
  background: #202020; /* Köşe arka plan rengi */
}
